.login {
    color: rgb(246, 3, 3);
    margin-right: 2rem;
    font-size: larger;
  }
  .signup {
    color: rgb(21, 65, 26);
    margin-right: 2rem;
    font-size: larger;
  }

  .font {
    color: rgb(21, 65, 26);
    margin-right: 2rem;
    font-size: larger;
  }