body {
  margin: 0;
  background-image: url("https://media3.giphy.com/media/iicDrNGWxHmDrIni6j/200w.webp?cid=ecf05e47uxh5exsd7d9l9ziewu5ys9v8suii4wrc2zkztcbr&rid=200w.webp&ct=g");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
